html
	head
		title Pomodoro
		link(rel="stylesheet" type="text/css" href="./styles.css")
		
		meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
		html(lang="en-us")
		meta(content="en-us" http-equiv="Content-Language")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
	body
		include ../js/components/ClockWidget/clock
		include ../js/components/SettingsWidget/settings
		include ../js/components/QuoteWidget/quote
		include  ../js/components/WeatherWidget/weather-widget
		include  ../js/components/TasksWidget/tasks
		script(src="./bundle.js")
