html
	head
		title Pomodoro
		link(rel="stylesheet" type="text/css" href="/public/assets/styles.css")
		
		meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
		html(lang="en-us")
		meta(content="en-us" http-equiv="Content-Language")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
     
	body
		- var x = 4;
		div#timer
			div.message Time until break
			time.noselection
				- for (var i=0; i<x; i++) {
					if(i%2==0 && i!==0)
						div=":"
					div
						span= "0"
				-}
			button#start Start
		script(src="/public/assets/bundle.js")


