div 
	div.headline Settings
	//	div.close#closeSettings ⌘
	div.settings-content
		div.settings-list
			div#timerS.selected Timer
			div#BackgroundS Background
			div#LinkS Links
			div#weatherS Weather
		div.settings-options
			include ./timer-settings
			include ./background-settings
	div.footer-settings