div 
	div.headline Settings
	div.settings-content
		div.settings-list
			div#timerS.selected Timer
			div#LinkS Links
		div.settings-options
			include ./timer-settings
			include ./links-settings
	div.footer-settings