div.quote-widget__trigger Quote
    div.quote-widget
        div.quote-widget__headlineQ
            div.quote-widget__close#closeQuote X
        div.quote-widget__text
        div.quote-widget__shareQ
            div
                div.quote-widget__author
                a(href="#" id="twitter") 