div.settings-widget ✽
	div.settings-widget__menu
		div.settings-widget__submenu
			div 
				div.settings-widget__headline Settings
				div.settings-widget__content
					div.settings-widget__list
						div#timerS.selected Timer
						div#LinkS Links
					div.settings-widget__options
						include ./TimerSection/timer-settings
						include ./LinksSection/links-settings
		div.settings-widget__footer