div.quoteTrigger Quote
    div.quote 
        div.headlineQ
            div.close#closeQuote X
        div.text
        div.shareQ
            div
                div.author
                a(href="#" id="twitter") 