div.weather-widget__trigger Weather			
div.weather-widget 
	div.weather-widget__headline
		div.weather-widget__close#closeWeather X
	div.weather-widget__info
		div.weather-widget__description
			img.weather-widget__icon(src="")
			div.weather-widget__text
		span.weather-widget__temperature
		div.weather-widget__location
		