div.settings-widget__section.settings-widget-links#js-linkSO
	p.settings-widge-links__container#js-links
	div.settings-widget-links__add
		input(type="text", id="js-link-title", placeholder="title")
		input(type="text", id="js-link-value", placeholder="link")
		button.settings-widget-links__cta(id="js-add-Link-btn") Add